To run this tool you need to install python3.x + requests,os,sys modules(they are installed by default with python) that's all 
it will work on windows/Linux/MacOS
Please Submit Your Opinion about the tool on my channel :https://www.youtube.com/channel/UCNsfEtXVeXwHU6LrEeNg5sQ
